{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-6">

        {% if producto.imagen1 %}
        <img src="{{ producto.imagen1.url }}" class="img-fluid rounded mb-3">
        {% endif %}

        {% if producto.imagen2 %}
        <img src="{{ producto.imagen2.url }}" class="img-fluid rounded mb-3">
        {% endif %}

        {% if producto.imagen3 %}
        <img src="{{ producto.imagen3.url }}" class="img-fluid rounded mb-3">
        {% endif %}

    </div>

    <div class="col-md-6">
        <h2>{{ producto.nombre }}</h2>
        <p class="text-muted">{{ producto.descripcion }}</p>

        <h4 class="text-success">${{ producto.precio_base }}</h4>

        <a href="/" class="btn btn-secondary mt-3">Volver</a>
    </div>
</div>

{% endblock %}

